.navigation {
	display: flex;
	justify-content: space-between;
	max-width: 579px;
	align-items: center;
	flex: 1;

	&__link {
		font-family: 'Inter', sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0%;
		color: #ffffff;
		text-decoration: none;
		transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
		cursor: pointer;

		&:hover {
			font-weight: 600;
			font-size: 17px;
		}
	}
}
