.button {
	width: 218px;
	height: 58px;
	border-radius: 10px;
	background-color: #0c1e34;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: #f8d45f;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		background-color: #1a2f47;
		color: #ffd85f;
	}

	&:active {
		transform: scale(0.98);
	}
}
