.main-section {
	height: 1023px;
	background-image: url(../../../images/mainSectionBg.webp);
	background-size: cover;
	padding-top: 435px;

	.container {
		display: flex;
	}

	&__text {
		margin-top: 129px;
		margin-right: 95px;
		width: 767px;

		p {
			font-family: 'Inter', sans-serif;
			font-size: 24px;
			line-height: 128%;
			color: #fff;
			margin: 0;
			margin-bottom: 25px;
		}

		span {
			font-family: 'Playfair Display', sans-serif;
			font-weight: 700;
			font-size: 60px;
			line-height: 75px;
			color: #fff;

			span {
				color: #f8d45f;
			}
		}
	}

	&__sliderBlock {
		width: 418px;
		height: 478px;
		border-radius: 10px;
		background-color: #fff;
		padding: 25px;
		position: relative;

		.slider__content {
			animation: fadeIn 0.2s ease-in-out;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.img {
				width: 368px;
				height: 222px;
				border-radius: 10px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			h4 {
				display: block;
				width: 368px;
				overflow-wrap: break-word;
				font-family: 'Playfair Display', sans-serif;
				font-weight: 700;
				font-size: 50px;
				line-height: 50px;
				margin-top: 23px;
				margin-bottom: 26px;
				color: #0c1e34;
			}

			a {
				text-decoration: none;
				display: block;

				.button {
					width: 368px;
					height: 59px;
				}
			}
		}
	}
}

@media (max-width: 450px) {
	.main-section {
		height: 812px;
		padding-top: 158px;
		.container {
			flex-direction: column;
		}

		&__text {
			width: 291px;
			height: 304px;
			margin-top: 0;
			margin-bottom: 30px;

			p {
				width: 295px;
				font-weight: 500;
				font-size: 14px;
			}

			span {
				display: inline-block;
				font-size: 35px;
				line-height: 44px;
				width: 300px;
				overflow-wrap: break-word;
			}
		}

		&__sliderBlock {
			padding: 15px;
			width: 241px;
			height: 275px;
			border-radius: 5px;

			.slider__content {
				.img {
					width: 212px;
					height: 127px;
					border-radius: 5px;
				}
				h4 {
					width: 212px;
					font-size: 28px;
					line-height: 28.83px;
					overflow-wrap: break-word;
					margin: 13px 0 15px 0;
				}

				a {
					.button {
						border-radius: 5px;
						width: 212px;
						height: 34px;
						font-weight: 500;
						font-size: 9.22px;
						line-height: 160%;
					}
				}
			}
		}
	}
}
