.main-section {
	height: 1023px;
	background-image: url(../../../images/mainSectionBg.png);
	background-size: cover;
	padding-top: 435px;

	.container {
		display: flex;
	}

	&__text {
		margin-top: 129px;
		margin-right: 95px;
		width: 767px;

		p {
			font-family: 'Inter', sans-serif;
			font-size: 24px;
			line-height: 128%;
			color: #fff;
			margin: 0;
			margin-bottom: 25px;
		}

		span {
			font-family: 'Playfair Display', sans-serif;
			font-weight: 700;
			font-size: 60px;
			line-height: 75px;
			color: #fff;

			span {
				color: #f8d45f;
			}
		}
	}

	&__cakeBlock {
		width: 418px;
		height: 478px;
		border-radius: 10px;
		background-color: #fff;
		padding: 25px;

		.img {
			width: 368px;
			height: 222px;
			border-radius: 10px;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		h4 {
			font-family: 'Playfair Display', sans-serif;
			font-weight: 700;
			font-size: 50px;
			line-height: 50px;
			margin-top: 23px;
			margin-bottom: 26px;
			color: #0c1e34;
		}

		Button {
			width: 368px;
			height: 59px;
		}
	}
}
