.MobileBurger {
	position: fixed;
	right: 0;
	top: 0;
	width: 188px;
	height: 100vh;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background: rgba(12, 30, 52, 1);

	nav {
		display: flex;
		flex-direction: column;
		margin-top: 133px;

		a {
			display: flex;
			align-items: center;
			padding-left: 17px;
			width: 188px;
			height: 47px;
			font-family: 'Inter', sans-serif;
			font-weight: 500;
			font-size: 12.12px;

			&.active {
				background: rgba(248, 212, 95, 1);
				color: black !important;
				font-family: 'Inter', sans-serif;
				font-weight: 500;
				font-size: 12.12px;
			}

			&:hover {
				font-size: 12.12px;
			}
		}
	}
}
