.categoryPage {
	display: flex;

	.subCategory {
		min-height: 100vh;
		height: 100%;
		margin-top: 161px;
		margin: 0 auto;

		.cardContainer {
			display: flex;
			gap: 40px 29px;
			flex-wrap: wrap;
			align-items: flex-start;
		}

		Button {
			width: 420px;
			height: 59px;
			margin: 0 auto;
			margin-top: 50px;
			display: block;
		}
	}
}
