.header {
	height: 74px;
	top: 55px;
	left: 80px;
	right: 80px;
	position: fixed;
	z-index: 1000;

	&__main {
		backdrop-filter: blur(140.8px);
		box-shadow: 0px 0px 68px 0px rgba(255, 255, 255, 0.05) inset;
		background: rgba(210, 210, 210, 0.3);

		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		min-height: 80px;
		border-radius: 15px;

		padding: 0 19px 0 33px;
	}

	&__logo {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
	}
}

.header--white .navigation__link {
	color: white;
}

.header--blue .navigation__link {
	color: #0c1e34;
}
