.VideoBlock {
	margin-top: 130px;

	.container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.video-content {
		margin-top: 83px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 615px;

		h2 {
			font-family: 'Playfair Display', sans-serif;
			font-weight: 700;
			font-size: 40px;
			line-height: 44px;
			text-align: right;
			vertical-align: middle;
			color: rgba(12, 30, 52, 1);
		}

		span {
			color: rgba(248, 212, 95, 1);
		}

		Button {
			width: 431px;
			height: 59px;
			border-radius: 10px;
		}
	}

	.video {
		position: relative;
		z-index: 20;
		width: 710px;
		height: 381px;
		border-radius: 10px;

		iframe {
			width: 100%;
			height: 100%;
			border: none;
			border-radius: 10px;
		}
	}

	.yellowBorder,
	.grayBorder {
		position: absolute;
		width: 635px;
		height: 664px;
		border-radius: 10px;
		pointer-events: none;
	}

	.grayBorder {
		width: 677px;
		height: 383px;
		border-radius: 10px;
		top: 15px;
		left: 24px;
		border: 1px solid #7a7a7a;
		z-index: 1;
	}

	.yellowBorder {
		width: 677px;

		height: 383px;
		border-radius: 10px;

		top: 6px;
		left: 34px;
		border: 1px solid rgba(248, 212, 95, 1);
		z-index: 3;
	}
}
