.QualityPartners {
	width: 100%;
	overflow: hidden;
	margin-top: 133px;

	h2 {
		font-family: 'Playfair Display', sans-serif;
		font-weight: 700;
		font-size: 45px;
		line-height: 54px;
		color: #0c1e34;
		margin: 0;
		margin-bottom: 45px;
		text-align: center;
	}

	.partners-track {
		height: 200px;
		display: flex;
		gap: 55px;
		animation: scroll 30s linear infinite;
		width: fit-content;
		border: 1.3px solid #dadada;
		border-left: none;
		border-right: none;
	}

	.partner-logo {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			object-fit: cover;
			transition: filter 0.3s ease, opacity 0.3s ease;
		}
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

@media (max-width: 450px) {
	.QualityPartners {
		margin-top: 80px;
		margin-bottom: 258px;

		h2 {
			font-size: 24px;
			line-height: 29px;
			margin-bottom: 20px;
		}

		.partners-track {
			height: 80px;
			gap: 20px;

			.logo {
				height: 72px !important;
				width: 110px !important;
			}
		}

		.partner-logo {
			width: 80px;

			img {
				height: 45%;
			}
		}
	}
}
