.subCategoryBlock {
	display: flex;

	.products {
		min-height: 100vh;
		height: 100%;
		margin-top: 161px;
		margin-bottom: 81px;

		.cardContainer {
			display: flex;
			gap: 30px 18px;
			flex-wrap: wrap;
		}

		Button {
			width: 420px;
			height: 59px;
			margin: 0 auto;
			margin-top: 50px;
			display: block;
		}
	}
}
