// .our-partners {
// 	width: 100%;
// 	overflow: hidden;
// 	margin-top: 133px;

// 	h2 {
// 		font-family: 'Playfair Display', sans-serif;
// 		font-weight: 700;
// 		font-size: 45px;
// 		line-height: 54px;
// 		color: #0c1e34;
// 		margin: 0;
// 		margin-bottom: 45px;
// 		text-align: center;
// 	}

// 	.partners-track {
// 		height: 200px;
// 		display: flex;
// 		gap: 55px;
// 		animation: scroll 30s linear infinite;
// 		width: fit-content;
// 		border: 1.3px solid #dadada;
// 		border-right: none;
// 		border-left: none;
// 	}

// 	.partner-logo {
// 		flex-shrink: 0;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;

// 		img {
// 			object-fit: cover;
// 			transition: filter 0.3s ease, opacity 0.3s ease;

// 			&.with-radius {
// 				border-radius: 15px;
// 			}
// 		}
// 	}
// }

// @keyframes scroll {
// 	0% {
// 		transform: translateX(0);
// 	}
// 	100% {
// 		transform: translateX(-50%);
// 	}
// }

.our-partners {
	width: 100%;
	overflow: hidden;
	margin-top: 133px;

	h2 {
		font-family: 'Playfair Display', sans-serif;
		font-weight: 700;
		font-size: 45px;
		line-height: 54px;
		color: #0c1e34;
		margin: 0;
		margin-bottom: 45px;
		text-align: center;
	}

	.partners-track {
		height: 200px;
		display: flex;
		gap: 55px;
		animation: scroll 30s linear infinite;
		width: fit-content;
		border: 1.3px solid #dadada;
		border-right: none;
		border-left: none;
		align-items: center; // Добавьте это
	}

	.partner-logo {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden; // Добавь это чтобы обрезать белые отступы
		height: 100%;
		padding: 0; // Убери padding если он мешает

		img {
			object-fit: cover; // cover обрежет белые отступы
			height: 100%;
			width: 100%;
			transition: filter 0.3s ease, opacity 0.3s ease;

			&.with-radius {
				border-radius: 15px;
			}
		}
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
