.map {
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-bottom: 35%;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}

	.info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		background-color: #fff;
		border: 1px solid rgba(248, 212, 95, 1);

		padding: 42px 0px 42px 55px;

		width: 459px;
		top: 62px;
		left: 48px;
		bottom: 62px;
		border-radius: 10px;

		h4 {
			margin: 0;
			margin-bottom: 10px;
			font-family: 'Playfair Display', sans-serif;
			font-weight: 700;
			font-size: 28px;
			line-height: 29.09px;

			color: rgba(12, 30, 52, 1);
		}

		p {
			max-height: 62px;
			margin: 0;
			font-family: 'Inter', sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: rgba(0, 0, 0, 0.57);
		}
	}
}
