.what-we-offer {
	h2 {
		font-family: 'Playfair Display', sans-serif;
		font-weight: 700;
		font-size: 45px;
		line-height: 54px;
		text-align: center;
		color: #0c1e34;
		margin: 0;
		margin-top: 180px;
	}

	.offerBlock {
		position: relative;
		display: flex;
		justify-content: end;
		flex-direction: column;
		padding: 20px;
		border-radius: 10px;
		background-position: center;
		background-size: cover;
		overflow: hidden;

		width: 420px;
		height: 396px;

		h5,
		p {
			position: relative;
			z-index: 2;
		}

		.blur {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background: linear-gradient(
				to top,
				rgb(122, 122, 122) 0%,
				rgba(0, 0, 0, 0.1) 50%,
				rgba(0, 0, 0, 0) 100%
			);
			z-index: 1;
			pointer-events: none;
		}
	}

	h5 {
		font-family: 'Playfair Display', sans-serif;
		font-weight: 700;
		font-size: 28px;
		line-height: 29.09px;
		color: #fff;
		margin: 0;
		margin-bottom: 10px;
	}

	p {
		font-family: 'Inter', sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		margin: 0;
	}

	.content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: 45px;
		height: 802px;
		gap: 10px;
	}
}

@media (max-width: 450px) {
	.what-we-offer {
		div {
			height: auto;
			width: auto;
			align-items: center;
		}
		h2 {
			width: 188px;
			font-size: 28px;
			line-height: 29.09px;
			text-align: center;
			margin: 0 auto;
			margin-top: 80px;
		}
		.content {
			margin-top: 30px;

			.offerBlock {
				width: 307px;
				height: 289px;
				padding: 0 15px 15px 15px;

				h5 {
					font-weight: 600;
					font-size: 21px;
					line-height: 30.76px;
					margin-bottom: 12px;
				}

				p {
					font-weight: 500;
					font-size: 14px;
					line-height: 160%;
				}
			}
		}
	}
}
