.what-we-offer {
	h2 {
		font-family: 'Playfair Display', sans-serif;
		font-weight: 700;
		font-size: 45px;
		line-height: 54px;
		text-align: center;
		color: #0c1e34;
		margin: 0;
		margin-top: 180px;
	}

	.medium-offer-block,
	.little-offer-block,
	.big-offer-block {
		position: relative;
		display: block;
		border-radius: 10px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		text-decoration: none;

		h5,
		p {
			position: relative;
			z-index: 2;
		}

		.blur {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background: linear-gradient(
				to top,
				rgb(122, 122, 122) 0%,
				rgba(0, 0, 0, 0.1) 50%,
				rgba(0, 0, 0, 0) 100%
			);
			z-index: 1;
			pointer-events: none;
		}
	}

	.medium-offer-block {
		width: 420px;
		height: 396px;
		padding: 0 22px 25px 23px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.little-offer-block {
		width: 434px;
		height: 218px;
		padding: 0 15px 15px 15px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.big-offer-block {
		width: 635px;
		height: 396px;
		padding: 0 25px 25px 25px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	h5 {
		font-family: 'Playfair Display', sans-serif;
		font-weight: 700;
		font-size: 28px;
		line-height: 29.09px;
		color: #fff;
		margin: 0;
		margin-bottom: 10px;
	}

	p {
		font-family: 'Inter', sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		margin: 0;
	}

	.content {
		margin-top: 45px;

		.up-block {
			display: flex;
			gap: 10px;
			height: 396px;
			justify-content: center;

			.two-little-blocks {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
		}

		.down-block {
			display: flex;
			gap: 10px;
			margin-top: 10px;
			justify-content: center;
			flex-wrap: wrap;
		}
	}
}

@media (max-width: 450px) {
	.what-we-offer {
		div {
			height: auto;
			width: auto;
			align-items: center;
		}
		h2 {
			width: 188px;
			font-size: 28px;
			line-height: 29.09px;
			text-align: center;
			margin: 0 auto;
			margin-top: 80px;
		}
		.content {
			margin-top: 30px;
			.up-block {
				height: auto;
				flex-direction: column;
			}

			.down-block {
				height: auto;
				flex-direction: column;
			}

			.big-offer-block,
			.little-offer-block,
			.medium-offer-block {
				width: 307px;
				height: 289px;
				padding: 0 15px 15px 15px;

				h5 {
					font-weight: 600;
					font-size: 21px;
					line-height: 30.76px;
					margin-bottom: 12px;
				}

				p {
					font-weight: 500;
					font-size: 14px;
					line-height: 160%;
				}
			}
		}
	}
}
