.subCategoryBlock {
	display: flex;

	.bigCard {
		display: flex;
		gap: 40px;
		margin: 0 80px 0 78px;
		min-height: 253px;
		margin-bottom: 45px;

		.textBlock {
			width: 553px;
			h2 {
				margin: 0;
				margin-bottom: 30px;
				font-family: 'Playfair Display', sans-serif;
				font-weight: 700;
				font-size: 45px;
				line-height: 54px;
				color: rgba(12, 30, 52, 1);
			}

			p {
				margin: 0;
				font-family: 'Inter', sans-serif;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: rgba(97, 97, 97, 1);
			}

			h6 {
				cursor: pointer;
				display: inline;
				font-family: 'Playfair Display', sans-serif;
				font-weight: 600;
				font-size: 16px;
				line-height: 30.76px;
				color: rgba(12, 30, 52, 1);
				border-bottom: 1px solid rgba(12, 30, 52, 1);
			}
		}

		.img {
			object-fit: cover;
			border-radius: 10px;
			overflow: hidden;
			width: 427px;
			height: 253px;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.subCategory {
		min-height: 100vh;
		margin-top: 189px;
		margin-bottom: 81px;

		.cardContainer {
			display: flex;
			gap: 30px 18px;
			flex-wrap: wrap;
			align-items: flex-start;
		}

		Button {
			width: 420px;
			height: 59px;
			margin: 0 auto;
			margin-top: 50px;
			display: block;
		}
	}
}

@media (max-width: 450px) {
	.containerCatalog {
		flex-direction: column;
		.subCategory {
			height: auto;
			min-height: auto;
			width: 100%;
			margin-top: 25px;

			.bigCard {
				height: auto;
				min-height: auto;
				width: 308px;
				margin: 0 auto;
				flex-direction: column;

				.textBlock {
					width: auto;
					margin-bottom: 40px;

					h2 {
						font-size: 28px;
						line-height: 29.09px;
						margin-bottom: 15px;
					}

					p {
						font-weight: 300;
						font-size: 14px;
						line-height: 20px;
					}
				}

				.img {
					display: none;
				}
			}
		}

		.cardContainer {
			width: auto;
			margin: 0;

			a {
				margin: 0 auto;
			}
		}

		Button {
			width: 246px !important;
			height: 47px !important;
			border-radius: 8px;

			font-weight: 500;
			font-size: 14px;
			line-height: 160%;
		}
	}
}
