.subCategoryBlock {
	display: flex;

	.bigCard {
		display: flex;
		gap: 40px;
		margin: 0 80px 0 78px;
		min-height: 253px;
		margin-bottom: 45px;

		.textBlock {
			width: 553px;
			h2 {
				margin: 0;
				margin-bottom: 30px;
				font-family: 'Playfair Display', sans-serif;
				font-weight: 700;
				font-size: 45px;
				line-height: 54px;
				color: rgba(12, 30, 52, 1);
			}

			p {
				margin: 0;
				font-family: 'Inter', sans-serif;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: rgba(97, 97, 97, 1);
			}

			h6 {
				cursor: pointer;
				display: inline;
				font-family: 'Playfair Display', sans-serif;
				font-weight: 600;
				font-size: 16px;
				line-height: 30.76px;
				color: rgba(12, 30, 52, 1);
				border-bottom: 1px solid rgba(12, 30, 52, 1);
			}
		}

		.img {
			object-fit: cover;
			border-radius: 10px;
			overflow: hidden;
			width: 427px;
			height: 253px;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.subCategory {
		min-height: 100vh;
		height: 100%;
		margin-top: 189px;
		margin-bottom: 81px;

		.cardContainer {
			display: flex;
			gap: 30px 18px;
			flex-wrap: wrap;
			align-items: flex-start;
		}

		Button {
			width: 420px;
			height: 59px;
			margin: 0 auto;
			margin-top: 50px;
			display: block;
		}
	}
}
