body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #fff;
}

.container {
	width: 1280px;
	margin: 0 auto;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
