body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #fff;
}

.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.cardContainer {
	width: 1020px;
	margin: 0 80px 0 78px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

@media (max-width: 450px) {
	.container {
		margin: 0 34px;
		width: auto;
	}
}
