.AboutUs {
	margin-top: 177px;
	height: 677px;

	.container {
		height: 677px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.about {
		height: 679px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 615px;

		h2 {
			font-family: 'Playfair Display', sans-serif;
			font-weight: 700;
			font-size: 45px;
			line-height: 54px;
			color: rgba(12, 30, 52, 1);
			margin-bottom: 8px;
			margin-top: 0;
		}

		span {
			display: inline-block;
			font-family: 'Playfair Display', sans-serif;
			font-weight: 400;
			font-size: 24px;
			line-height: 32px;
			color: rgba(97, 97, 97, 1);
			margin-bottom: 55px;
		}

		Button {
			width: 431px;
			height: 59px;
			border-radius: 10px;
		}
	}

	.img {
		position: relative;
		z-index: 20;
		width: 635px;
		height: 664px;
		border-radius: 10px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.yellowBorder,
	.grayBorder {
		position: absolute;
		width: 635px;
		height: 664px;
		border-radius: 10px;
		pointer-events: none;
	}

	.grayBorder {
		top: 15px;
		left: 630px;
		border: 1px solid #7a7a7a;
		z-index: 1;
	}

	.yellowBorder {
		top: 0px;
		left: 637px;
		border: 1px solid rgba(248, 212, 95, 1);
		z-index: 3;
	}
}

@media (max-width: 375px) {
	.AboutUs {
		margin-top: 80px;

		.container {
			.about {
				width: auto;

				h2 {
					margin-left: 34px;

					font-size: 28px;
					line-height: 29.09px;
					margin-bottom: 12px;
				}

				span {
					// width: 308px;
					font-family: 'Inter', sans-serif;
					font-size: 18px;
					line-height: 160%;
					margin: 0 34px;
				}

				Button,
				.button {
					width: 308px;
					padding: 16px 0;
					border-radius: 10px;
					margin: 0 auto;
					margin-top: 40px;

					font-family: 'Inter', sans-serif;
					font-weight: 500;
					font-size: 16px;
					line-height: 160%;
				}
			}
			.yellowBorder,
			.grayBorder,
			.img {
				display: none;
			}
		}
	}
}
